# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/

# Django stuff
*.log
*.pot
*.pyc
*.sqlite3
media/
staticfiles/

# Unit test / coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
.coverage.*

# IDE/editor
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Env files
.env
.env.*

# Migrations cache
**/migrations/**/__pycache__/
